.header-box {
  background-color: #ffffff;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 6px -2px #1f1f1f4a;
  z-index: 10000;
}
.header-box-logo p {
  font-size: 1.5rem;
  font-weight: 700;
}
.header-box-nav ul {
  display: flex;
  column-gap: 30px;
}
.header-box-nav ul li a {
  position: relative;
}
.header-box-nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: black;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}
.header-box-nav ul li a:hover::after {
  width: 100%;
}
.header-box-resume button {
  border: solid var(--site-dark-gray) 1px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: border 0.3s;
}
.header-box-resume button:hover {
  border: solid var(--site-text-color) 1px;
}
.header-box-resume div {
  display: none;
}

/*main section*/
.main-intro-section {
  margin-top: 64px;
  background-color: #ffffff;
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 90px;
}

.main-intro-section-text h1 {
  font-size: 7.2rem;
  font-weight: 400;

  padding: 0px;
}
.main-intro-section-text h1:nth-of-type(1) {
  display: block;
}
.main-intro-section-text h1:nth-of-type(2) {
  display: none;
}
.main-intro-section-text p {
  font-size: 2.4rem;
  font-weight: 300;

  padding: 0px;
}

.main-intro-section-image {
  padding: 90px 0 0;
}
.main-intro-section-image img {
  transition: all 0.3s ease;
}
.main-intro-section-image img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/*about me section*/
.about-me {
  width: 100%;
  background-color: var(--site-dark-gray);
}

.about-me-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 60px 0 30px;
}
.about-me-header-line {
  height: 1px;
  flex-grow: 1;
  background-color: var(--site-text-color);
}
.about-me-header h2 {
  font-size: 3.6rem;
  padding: 0 20px;
  text-align: center;
  font-weight: 400;
  font-size: 2.8rem;
  color: var(--site-text-color);
  text-transform: capitalize;
}
.about-me-content {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 60px 0;
}
.about-me-content p {
  width: 80%;
  font-size: 1.6rem;
  line-height: 1.75;
  padding: 0 60px 0 0;
}
.about-me-content img {
  width: 25%;
}
/*recent projects section*/

.recent-projects {
  width: 100%;
  background-color: var(--site-background-color);
}

.recent-projects-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 60px 0 30px;
}
.recent-projects-header-line {
  height: 1px;
  flex-grow: 1;
  background-color: var(--site-text-color);
}
.recent-projects-header h2 {
  font-size: 3.6rem;
  padding: 0 20px;
  text-align: center;
  font-weight: 400;
  font-size: 2.8rem;
  color: var(--site-text-color);
  text-transform: capitalize;
}
.recent-projects-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 60px 0;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
}
.recent-projects-content-box {
  width: calc(50% - 20px);

  display: flex;
}
.recent-projects-content-box img {
  width: 13%;
  height: fit-content;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin-right: 20px;
}
.recent-projects-content-box-details h3 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
}

.recent-projects-content-box-details p {
  font-size: 1.4rem;
  line-height: 1.25;
  margin-bottom: 8px;
}

.recent-projects-content-box-details-line {
  height: 1px;
  margin-bottom: 8px;
  background-color: var(--site-text-color);
}

.recent-projects-content-box-details p:nth-child(4) {
  color: rgb(96, 96, 96);
  margin-bottom: 8px;
}
.recent-projects-content-box-details button {
  display: flex;
  align-items: center;
  border: solid 1px;
  border-radius: 8px;
  padding: 8px 16px;
}
.recent-projects-content-box-details button:hover {
  border: solid rgb(0, 0, 0) 1px;
  box-shadow: 0 4px 6px -2px #1f1f1f4a;
  transform: scale(1.01);
}
.recent-projects-content-box-details button img {
  width: 20px;
}

/*Contact*/
.contact-me {
  width: 100%;
  background-color: var(--site-dark-gray);
}

.contact-me-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 60px 0 30px;
}
.contact-me-header-line {
  height: 1px;
  flex-grow: 1;
  background-color: var(--site-text-color);
}
.contact-me-header h2 {
  font-size: 3.6rem;
  padding: 0 20px;
  text-align: center;
  font-weight: 400;
  font-size: 2.8rem;
  color: var(--site-text-color);
  text-transform: capitalize;
}
.contact-me-content {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 30px 0;
  flex-direction: column;
  row-gap: 35px;
}
.contact-me-content button {
  width: 200px;
  border: solid;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.contact-me-content button:hover {
  border: solid rgba(0, 0, 0, 0.685) 3px;
  transform: scale(1.1);
}
.contact-me-content-contact-data {
  display: flex;
  column-gap: 10px;
}
.contact-me-content-contact-data p {
  display: flex;
  align-items: center;
}

.contact-me-content-contact-socialmedia a {
  margin: 0 10px;
}
.contact-me-content-contact-socialmedia a img {
  transition: all 0.3s ease;
}
.contact-me-content-contact-socialmedia a img:hover {
  transform: scale(1.1);
}
#about,
#projects,
#contact,
#home {
  scroll-margin-top: 64px;
}
