@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --site-color-01: #c13584;
  --site-color-01-hover: #9d2c6c;
  --site-background-color: #ffffff;
  --site-dark-gray: #c4c4c4;
  --site-light-gray: #F2F2F2;
  --site-text-color: #1f1f1f;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  background-color: #9b9b9b;
  scroll-behavior: smooth;
}
/* body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../images/facebook-color.png) url(../images/instagram-color.png);
} */
.main-wrapper {
  max-width: 900px;
  margin: 0 auto;
}
h1 {
  font-size: 2.6rem;
  line-height: 1.5;
  color: var(--site-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
h2 {
  font-size: 2.8rem;
  line-height: 1.5;
  color: var(--site-text-color);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
h3 {
  font-size: 2.6rem;
  line-height: 1.5;
  color: var(--site-text-color);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
button {
  font-size: 1.4rem;
  line-height: 1.75;
  color: var(--site-text-color);
  font-family: "Inter", sans-serif;
}
button {
  cursor: pointer;
}
p {
  font-size: 1.4rem;
  line-height: 1.75;
  color: var(--site-text-color);
  font-family: "Inter", sans-serif;
}
a {
  font-size: 1.4rem;
  line-height: 1.75;
  color: var(--site-text-color);
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
