@media (max-width: 480px) {
  /*header styles*/
  .header-box {
    padding: 0 20px;
  }
  .header-box-logo p {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .header-box-nav {
    display: none;
  }

  .header-box-resume {
    display: flex;
    align-items: center;
  }
  .header-box-resume button {
    display: none;
  }
  .header-box-resume img {
    display: block;
}
  /*main section*/
.main-intro-section {

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  text-align: center;
  padding-bottom: 90px;
}

.main-intro-section-text h1:nth-of-type(1) {
  font-size: 3.6rem;
  font-weight: 400;
  display: none;
  padding: 0px;
}
.main-intro-section-text h1:nth-of-type(2) {
  font-size: 3.6rem;
  font-weight: 400;
  display: block;
  padding: 0px;
}
.main-intro-section-text p {
  font-size: 2rem;
  font-weight: 300;
  
  padding: 0px;
}
  

.main-intro-section-image {
    padding:50px 0 0;
}
.main-intro-section-image img{
    transition: all 0.3s ease;
}
.main-intro-section-image img:hover {
    transform: scale(1.2);
    cursor: pointer;
}
}
